<form [formGroup]="formular">
    <gov-flex direction="column" gap="m">
        <gov-infobar [color]="formular.invalid ? 'error' : 'primary'" type="subtle">
            <gov-icon slot="icon" type="components" name="exclamation-triangle-fill"></gov-icon>

            <p>Invalidní položky formuláře jsou zvýrazněny pouze ve stavu "dirty" nebo "touched".</p>
        </gov-infobar>


        <gov-form-control class="fix">
            <gov-form-label>State gov-input</gov-form-label>

            <gov-form-input type="text" formControlName="stateGovInput" formControlStatus></gov-form-input>

            <form-control-status [control]="formular.controls.stateGovInput"></form-control-status>
        </gov-form-control>

        <gov-form-control class="fix">
            <gov-form-label>State gov-autocomplete</gov-form-label>

            <gov-form-autocomplete #autocomplete formControlName="stateGovAutocomplete" formControlStatus (gov-focus)="filter(autocomplete, $event)" (gov-input)="filter(autocomplete, $event)" (gov-select)="select($event)" minLength="0"></gov-form-autocomplete>

            <form-control-status [control]="formular.controls.stateGovAutocomplete"></form-control-status>
        </gov-form-control>

        <!--
        <gov-flex direction="row" gap="m" wrap="wrap">
            @for (item of items; track $index) {
                <gov-chip color="primary" type="outlined">{{ item }}</gov-chip>
            }
        </gov-flex>
        -->

        <gov-form-control class="fix">
            <gov-form-label>State gov-select (optional)</gov-form-label>

            <gov-form-select formControlName="stateGovSelect" formControlStatus>
                <option [ngValue]="null"></option>

                @for (item of items; track $index) {
                    <option [ngValue]="item">{{ item.name }}</option>
                }
            </gov-form-select>

            <form-control-status [control]="formular.controls.stateGovSelect"></form-control-status>
        </gov-form-control>

        <gov-form-control class="fix">
            <gov-form-label>State select (optional)</gov-form-label>

            <div class="gov-form-select fix" size="m"
                    [formControlStatus]="formular.controls.stateSelect"><!-- border -->
                <span class="element">
                    <select class="fix" formControlName="stateSelect" formControlStatus>
                        <option [ngValue]="null"></option>

                        @for (item of items; track $index) {
                            <option [ngValue]="item">{{ item.name }}</option>
                        }
                    </select>

                    <gov-icon class="arrow-icon" type="components" name="chevron-down"></gov-icon>

                    <gov-icon class="validation-icon fix" [name]="formular.controls.stateSelect.invalid ? 'exclamation-lg' : 'check-lg'" type="components"></gov-icon>
                </span>
            </div>

            <form-control-status [control]="formular.controls.stateSelect"></form-control-status>
        </gov-form-control>

        <gov-flex direction="row" gap="m">
            <gov-button color="primary" type="solid" disabled>Odeslat</gov-button>

            <gov-button color="neutral" type="base" (gov-click)="formular.reset(defaults)" [disabled]="!formular.dirty && !formular.touched">Obnovit formulář</gov-button>
        </gov-flex>

        <form-control-status [control]="formular"></form-control-status>
    </gov-flex>
</form>
