<footer class="gov-footer">
    <gov-flex class="gov-footer__content" direction="column" justify-content="space-between" gap="3xl">
        <gov-flex responsive="false">
            <ul class="gov-footer__main gov-list--plain">
                <li>
                    <nav aria-labelledby="footer-nav-0">
                        <h5 id="footer-nav-0">Alfa</h5>
                        <ul class="gov-list--plain">
                            <li><gov-link href="#" size="s">Link</gov-link></li>
                            <li><gov-link href="#" size="s">Link</gov-link></li>
                            <li><gov-link href="#" size="s">Link</gov-link></li>
                            <li><gov-link href="#" size="s">Link</gov-link></li>
                            <li><gov-link href="#" size="s">Link</gov-link></li>
                        </ul>
                    </nav>
                </li>
                <li>
                    <nav aria-labelledby="footer-nav-1">
                        <h5 id="footer-nav-1">Beta</h5>
                        <ul class="gov-list--plain">
                            <li><gov-link href="#" size="s">Link</gov-link></li>
                            <li><gov-link href="#" size="s">Link</gov-link></li>
                            <li><gov-link href="#" size="s">Link</gov-link></li>
                            <li><gov-link href="#" size="s">Link</gov-link></li>
                            <li><gov-link href="#" size="s">Link</gov-link></li>
                        </ul>
                    </nav>
                </li>
                <li>
                    <nav aria-labelledby="footer-nav-2">
                        <h5 id="footer-nav-2">Gama</h5>
                        <ul class="gov-list--plain">
                            <li><gov-link href="#" size="s">Link</gov-link></li>
                            <li><gov-link href="#" size="s">Link</gov-link></li>
                            <li><gov-link href="#" size="s">Link</gov-link></li>
                            <li><gov-link href="#" size="s">Link</gov-link></li>
                            <li><gov-link href="#" size="s">Link</gov-link></li>
                        </ul>
                    </nav>
                </li>
                <li>
                    <h5>Kontakt</h5>
                    <gov-flex direction="column" gap="l">
                        <ul class="gov-footer__address gov-list--plain">
                            <li>Adresa 1</li>
                            <li>686 01 Praha</li>
                            <li>
                                <gov-link href="tel:+420789325678" size="s">
                                    <gov-icon slot="icon-start" type="components" name="telephone"></gov-icon>
                                    +420 789 325 678
                                </gov-link>
                            </li>
                            <li>
                                <gov-link href="mailto:loremipsum@email.com" size="s">
                                    <gov-icon slot="icon-start" type="templates" name="envelope"></gov-icon>
                                    loremipsum&#64;"email.com
                                </gov-link>
                            </li>
                        </ul>
                        <nav aria-label="Odkazy na sociální sítě">
                            <ul class="gov-social gov-list--plain">
                                <li>
                                    <gov-button href="#" target="_blank" rel="noreferrer nofollow" color="primary" type="base" size="s" title="Facebook" aria-label="Facebook">
                                        <gov-icon type="templates" name="facebook" size="s"></gov-icon>
                                    </gov-button>
                                </li>
                                <li>
                                    <gov-button href="#" target="_blank" rel="noreferrer nofollow" color="primary" type="base" size="s" title="Instagram" aria-label="Instagram">
                                        <gov-icon type="templates" name="instagram" size="s"></gov-icon>
                                    </gov-button>
                                </li>
                                <li>
                                    <gov-button href="#" target="_blank" rel="noreferrer nofollow" color="primary" type="base" size="s" title="Youtube" aria-label="Youtube">
                                        <gov-icon type="templates" name="youtube" size="s"></gov-icon>
                                    </gov-button>
                                </li>
                                <li>
                                    <gov-button href="#" target="_blank" rel="noreferrer nofollow" color="primary" type="base" size="s" title="Linkedin" aria-label="Linkedin">
                                        <gov-icon type="templates" name="linkedin" size="s"></gov-icon>
                                    </gov-button>
                                </li>
                                <li>
                                    <gov-button href="#" target="_blank" rel="noreferrer nofollow" color="primary" type="base" size="s" title="Twitter X" aria-label="Twitter X">
                                        <gov-icon type="templates" name="twitter-x" size="s"></gov-icon>
                                    </gov-button>
                                </li>
                            </ul>
                        </nav>
                    </gov-flex>
                </li>
            </ul>
            <gov-button class="gov-footer__up js-gov-footer__up" color="primary" type="base" size="m" (gov-click)="scrollTop()" aria-label="Vrátit se na začátek stránky">
                <gov-icon type="templates" name="arrow-up"></gov-icon>
            </gov-button>
        </gov-flex>
        <gov-grid gap="l" class="gov-footer__logos-group">
            <gov-grid-item col-span="12" col-span-lg="6">
                <section>
                    <h5>Související loga</h5>
                    <ul class="gov-logos gov-list--plain">
                        <li>
                            <a href="https://www.dia.gov.cz/" target="_blank" aria-label="Otevřít stránky DIA" rel="noreferrer nofollow">
                                <svg width="78" height="35" aria-labelledby="svg0" xmlns="http://www.w3.org/2000/svg">
                                    <title id="svg0">Digitální a informační agentura</title>
                                    <image href="/assets/logos/logo-dia.svg" width="78" height="35"></image>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://nakit.cz/" target="_blank" aria-label="Otevřít stránky Nakit" rel="noreferrer nofollow">
                                <svg width="118" height="35" aria-labelledby="svg1" xmlns="http://www.w3.org/2000/svg">
                                    <title id="svg1">Nakit</title>
                                    <image href="/assets/logos/logo-nakit.svg" width="108" height="40"></image>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://next-generation-eu.europa.eu/index_cs" target="_blank" aria-label="Otevřít stránky Next Generation EU" rel="noreferrer nofollow">
                                <svg width="114" height="32" aria-labelledby="svg2" xmlns="http://www.w3.org/2000/svg">
                                    <title id="svg2">Next Generation EU</title>
                                    <image href="/assets/logos/financovano-eu.svg" width="118" height="33"></image>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.planobnovycr.cz/" target="_blank" aria-label="Otevřít stránky Národní plán obnovy" rel="noreferrer nofollow">
                                <svg width="100" height="35" aria-labelledby="svg3" xmlns="http://www.w3.org/2000/svg">
                                    <title id="svg3">Národní plán obnovy</title>
                                    <image href="/assets/logos/narodni-plan-obnovy.svg" width="100" height="35"></image>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </section>
            </gov-grid-item>
            <gov-grid-item col-span="12" col-span-lg="6">
                <section>
                    <h5>Mobilní aplikace nebo jiná loga</h5>
                    <ul class="gov-logos gov-list--plain">
                        <li>
                            <a href="https://apps.apple.com/us/app/port%C3%A1l-ob%C4%8Dana/id6483367664" title="Přejít na Apple Store" target="_blank" aria-label="" rel="noreferrer nofollow">
                                <img alt="Stáhnout v App Store" src="/assets/logos/app-store.svg" width="auto" height="36">
                            </a>
                        </li>
                        <li>
                            <a href="https://play.google.com/store/apps/details?id&#x3D;cz.gov.portal.v2.obcan" title="Přejít na Google Play" target="_blank" aria-label="" rel="noreferrer nofollow">
                                <img alt="Stáhnout na Google Play" src="/assets/logos/google-play.svg" width="auto" height="36">
                            </a>
                        </li>
                    </ul>
                </section>
            </gov-grid-item>
        </gov-grid>
        <gov-flex direction="column" gap="m-nudge">
            <nav aria-label="Odkazy na právní dokumenty">
                <ul class="gov-footer-links gov-list--plain">
                    <li><gov-link href="#" size="s">Link</gov-link></li>
                    <li><gov-link href="#" size="s">Link</gov-link></li>
                    <li><gov-link href="#" size="s">Link</gov-link></li>
                    <li><gov-link href="#" size="s">Link</gov-link></li>
                    <li><gov-link href="#" size="s">Link</gov-link></li>
                </ul>
            </nav>
            <hr>
            <gov-flex class="gov-footer-copy" justify-content="space-between" gap="m">
                <p>2025 &copy; Digitální a informační agentura &bull; Informace jsou poskytovány v souladu se zákonem č. 106/1999 Sb., o svobodném přístupu k informacím.</p>
                <div>
                    <gov-flex class="gov-footer__version" responsive="false">
                        <span>Verze 2.0.2105.9856</span>
                        <span>Využit Design system 4.2</span>
                    </gov-flex>
                </div>
            </gov-flex>

        </gov-flex>
    </gov-flex>
</footer>
